h2{
    padding: 0rem;
    margin: 1rem 0;
}

table {
    border: 1px solid black;
    border-radius: 1rem; /* Rounded outer border */
    border-collapse: separate; /* Must be separate for border-radius to work */
    padding: 8px;
    overflow: hidden;
}

th,
td {
    border: 1.5px solid black; /* Normal inner lines */
    padding: 8px;
}


body {
    margin: 0;
    height: 100vh;
    background-color: #333; /* Dark grey background */
    display: flex;
    align-items: center;
    justify-content: center;
}

#login {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: #fefcf4;
    color: black;

    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    z-index: 1000; /* To make sure it's on top of every other div */
}

#confirm{
    margin: 1rem;
}
